.green {
	background-color: #6ea760;
}

.red {
	background-color: #ec5d61;
}

.friendlist {
	list-style: none;
	margin: 0;
	padding: 15px;
}

.item {
	display: flex;
	align-items: center;
	padding: 15px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);

	&:not(:last-child) {
		margin-bottom: 15px;
	}
}

.status {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 15px;
}

.avatar {
	margin-right: 15px;
}